body {
    background-color: #323232;
}

.main_button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    width: 130px;
    height: 65px;
    font-size: 20px;
    color: #EEE;
}