<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="../portfolio/header/header.css"/>
  <link rel="stylesheet" href="../portfolio/footer/footer.css"/>
  <link rel="stylesheet" href="../common/css/bootstrap.min.css"/>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js" integrity="sha512-VjRpiWhUqdNa9bwBV7LnlG8CwsCVPenFyOQTSRTOGHw/tjtME96zthh0Vv9Itf3i8w4CkUrdYaS6+dAt1m1YXQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
<!-- header -->
<div th:replace="~{fragment/header :: headerFragment}"></div>
<!-- content -->
<div layout:fragment="~{content}"></div>
<!-- footer -->
<div th:replace="~{fragment/footer :: footerFragment}"></div>
</body>

</html>