@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pretendard-Regular';
    color: #34323f;
    letter-spacing: -0.05rem;
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: sans-serif;
}

#fullpage {
    position: relative;
    top: 0px;
    z-index: 9;
    width: 100%;
    height: 100%;
}

.fullsection {
    width: 100%;
    height: 100%;
    position: relative;
}

.full1 {
    background: #323232;
}

.full2 {
    background: #EFEFEF;
}

.full3 {
    background: #454545;
}

.full4 {
    background: lightblue;
}

#fullpage span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 4em;
    font-weight: bold;
}

#fullpage .introduce {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-weight: bold;
    color: #DFDFDF;
}

ul, li {
    list-style: none;
}

.btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 65px;
    font-size: 20px;
    color: #EEE;
}

.wrapper {
    width: 80%;
    height: 65%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrapper div {
    height: 260px;
    text-align: center;
}

.wrapper div h3 {
    font-weight: 600;
    opacity: 0.8;
}

.wrapper div h6 {
    opacity: 0.5;
}

.wrapper div a {
    font-weight: bold;
    text-decoration: none;
    color: #ABABAB;
    font-size: 2rem;
}

.wrapper div a:hover {
    color: #787878;
}

.wrapper div p {
    block: inline-block;
    opacity: 0.8;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.089rem;
}

.work_container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide {
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.left-slide > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.left-slide h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: -30px;
    text-align: center;
}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;
    transition: transform 0.5s ease-in-out;
}

.right-slide div {
    width: 100%;
    height: 100vh;
    test-items: center;
    position: relative;
}

.right-slide div img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    height: 80vh;
    width: 80%;
}

button {
    background-color: #fff;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

button:hover {
    color: #222;
}

button:focus {
    outline: none;
}

.slider-container .action-buttons button {
    position: absolute;
    left: 30%;
    top: 50%;
    z-index: 100;
}

.slider-container .action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}