<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
    <link rel="stylesheet" href="../portfolio/main/main.css"/>
</head>
<div id="fullpage" layout:fragment="~{content}">
    <script type="text/javascript" src="../portfolio/main/main.js"></script>
    <div class='quick'><ul></ul></div>
    <div id="main" class="fullsection full1">
        <span class="introduce">'개발자 김영범'</span>
        <button type="button" class="btn btn-info">알아보기</button>
    </div>
    <div id="skill" class="fullsection full2"><span>SKILL</span></div>
    <div id="works" class="fullsection full3"><span>WORKS</span></div>
    <div id="contact" class="fullsection full4"><span>CONTACT</span></div>
</div>

</html>