<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<head>
    <link rel="stylesheet" href="../portfolio/main/main.css"/>
</head>
<div id="fullpage" layout:fragment="~{content}">
    <script type="text/javascript" src="../portfolio/main/main.js"></script>
    <div class="fullsection full1">
        <span class="introduce">'개발자 김영범'</span>
        <button type="button" class="btn btn-info">알아보기</button>
    </div>
    <div class="fullsection full2">
        <div class="wrapper container-fluid">
            <div class="row row-cols-4">
                <div class="col-4 col-md-2">
                    <img src="../image/증명사진_김영범.jpg" alt="" width="150px" height="192px" style="margin-top: 40px; margin-bottom: 65px;">
                </div>
                <div class="col-4 col-md-5">
                    <h3>Works</h3>
                    <p>2015 서원고등학교 졸업</p>
                    <p>2021 남서울대학교 졸업</p>
                    <p>2021 쌍용교육센터 수료</p>
                    <p>2023 우아한테크코스 프리코스</p>
                </div>
                <div class="col-4 col-md-5">
                    <h3>Certification</h3>
                    <p>정보처리기사 실기</p>
                    <p>리눅스 마스터 2급</p>
                    <p>SQLD</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-12" style="height:80px;">
                            <h3>김영범</h3> <br> <h6>Kim Young Beom</h6>
                        </div>
                        <div class="col-12" style="height: 80px;">
                            <h6 style="margin-top: 10px;">010 4498 4501</h6> <br> <h6>abcd4501@naver.com</h6>
                        </div>
                        <div class="col-6" style="height: 80px;">
                            <a href="https://velog.io/@abcd4501/posts">.Vel</a>
                        </div>
                        <div class="col-6" style="height: 80px;">
                            <a href="https://github.com/youngbeom-Kim">.Git</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <h3>Skill</h3>
                    <p><img src="../image/skill1.png" style="height: 30px"></p>
                    <p><img src="../image/skill2.png" style="height: 30px"></p>
                    <p><img src="../image/skill3.png" style="height: 30px"></p>
                    <p><img src="../image/skill4.png" style="height: 30px"></p>
                </div>
                <div class="col-sm-5">
                    <h3>Projects</h3>
                    <p>복지관 벤치마킹 콘솔 프로젝트</p>
                    <p>교육센터 벤치마킹 콘솔 프로젝트</p>
                    <p>야너두! 구인구직 사이트 JSP/Servlet 프로젝트</p>
                    <p>나만여행 숙박 여행 예약 사이트</p>
                    <p>SpringBoot 포트폴리오</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fullsection full3">
        <div class="work_container">
            <div class="slider-container">
                <div class="left-slide">
                    <div style="background-color: #9b727f">
                        <h1>Springboot 게시판 CRUD</h1>
                        <p>개인프로젝트</p>
                    </div>
                    <div style="background-color: #9b726e">
                        <h1>쇼핑몰 <br> SpringFramework 프로젝트</h1>
                        <p>개인프로젝트</p>
                    </div>
                    <div style="background-color: #9b727f">
                        <h1>나만여행 여행 숙박 예약 <br> Spring 프로젝트</h1>
                        <p>팀프로젝트</p>
                    </div>
                    <div style="background-color: #9b726e">
                        <h1>야너두! 구인구직 <br> JSP/Servlet 프로젝트</h1>
                        <p>팀프로젝트</p>
                    </div>
                    <div style="background-color: #9b727f">
                        <h1>교육센터 벤치마킹 콘솔프로젝트</h1>
                        <p>팀프로젝트</p>
                    </div>
                    <div style="background-color: #9b726e">
                        <h1>문화센터 벤치마킹 콘솔프로젝트</h1>
                        <p>팀프로젝트</p>
                    </div>
                </div>
                <div class="right-slide">
                    <div><img src="../image/project1.png" alt=""></div>
                    <div><img src="../image/project2.png" alt=""></div>
                    <div><img src="../image/project3.png" alt=""></div>
                    <div><img src="../image/project4.png" alt=""></div>
                    <div><img src="../image/project5.png" alt=""></div>
                    <div><img src="../image/project6.png" alt=""></div>
                </div>

                <!--버튼 영역-->
                <div class="action-buttons">
                    <button class="down-button">
                        <i class="bi bi-arrow-up"></i>
                    </button>
                    <button class="up-button">
                        <i class="bi bi-arrow-down"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="fullsection full4" pageNum="4">
        <div class="email_container">
            <h2>궁금하신게 있을까요?</h2>
            <form onsubmit="emailSend(); reset(); return false;">
                <input type="email" id="email" placeholder="email" name="email" required>
                <input type="text" id="subject" placeholder="subject" name="subject" required>
                <input type="text" id="content" placeholder="content" name="contents" required>
                <button type="submit" class="email_btn">submit</button>
            </form>
        </div>
    </div>
</div>

</html>